a {
	color:red;
	font-size: 13px;
}

#zagolovok {
	color: #901896;
}

.igli {
	width: 33%
}

.el_t {
	width: 33%
}

.ramki {
	width: 33%
}

.youtube {
	border:0px solid #323232;
	border-radius: 10px
}

.youtube:hover {
	border:2px solid #323232;
	border-radius: 10px	
}

.vk:hover {
	border:2px solid #323232;
	border-radius: 10px	
}

body {
	background-image: url(background_HD.png)
}

.vk {
	margin-right: 10px;
	margin-botton: 5px;
}

.igli:hover {
	margin-right: 10px;
	margin-botton: 5px;
}

.el_t:hover {
	margin-right: 10px;
	margin-botton: 5px;
}

.ramki:hover {
	margin-right: 10px;
	margin-botton: 5px;
}

#names {
	font-size: 40px
	
}

#version_i_avtor {
	font-size: 10px
}

.photo_tov {
	margin-left: 30px;
	border-radius: 10px;
	float:left;
}



.buy {
	position: absolute;
	margin-top: 490px;
	margin-left: -520px;
	
	padding-right: 470px;
	padding-top: 10px;
	padding-bottom: 10px;	
}



.buy:hover {
	border:2px solid #323232;
	
}

.tovar {
	margin: 10px;
	border-radius: 10px;
}

textarea {
	resize: none;
	width: 170px;
    height: 100px;
}

.oform_zak {
	font-size: 20px;
}

.oform_zak_b {
	width: 175px;
}

.oform_zak_b:hover {
	border:2px solid #323232;
}

.o_sebe{
	font-size: 20px;
}

.glav {
	width: 100%;
}

.opisanie_tov2 {
	float:left;
	font-size: 30px;
	margin-left: 20px;
}

.sale {
	float:left;
	font-size: 30px;
	margin-top: 470px;
	margin-left: -320px;
}